@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow:wght@100&family=Bebas+Neue&family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kalam:wght@300;400;700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Doodle+Shadow&family=Rubik:wght@300;400;500;600;700;800;900&family=Sedgwick+Ave+Display&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    display: flex;
    background-color: #292828;
}

.content{
  width: 70%;
  background-color: #292828;
}

   .sidenav {
    width: 50%;
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
    padding-top: 50px;
  }
  
  /* CSS */
  .button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }

  .text a {
    text-decoration: none;
    color: white;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: center;
    padding-top: 50px;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    background-color: seagreen;
    transition: 3s;
  }

  .sidenav a:active {
    color: #f1f1f1;
    background-color: seagreen;
  }

  .content {
    margin-left: 20px;
    padding: 16px;
  }

  

   

  .nav-list {
    display: flex;
    padding-left: 60rem;
    text-decoration: darkgrey;
    color: white;
    width: 80%;
    margin: 0;
  }

  ul {
    margin: 0;
  }

  .nav-list li a:active {
    color: black;
    background-color: seagreen;
    text-decoration: aqua;
  }

  .nav-list li a:hover {
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
  }

  .nav-list li {
    list-style: none;
    margin-right: 1rem;
    color: black;
    text-decoration: dimgrey;
    background-color: rgb(38, 38, 38);
  }

  .nav-list li a {
    color: black;
    font-weight: 600;
    text-decoration: dimgray;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 500;
    color: rgb(184, 59, 59);
    width: 20%;
    margin: 0;
  }

.hero {
  height: 80vh;
  background-color: rgba(245, 245, 245, 0.658);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.left {
  height: 60vh;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 1rem;
}




/* CSS */
.button-64 {
  padding-top: 2rem;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 200px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  padding-top: 5rem;
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 200px;
  width: 100%;
  height: 100%;
  transition: 2s;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}


.right img {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.name {
  font-size: 3rem;
  color: red;
}

.skills , .projects {
  display: grid;
  justify-content: center;
  align-items: center;
}

.skills h2 , .projects h2 {
  font-family: "Rubik Doodle Shadow", sans-serif;
  font-size: 30px;
  margin: 1rem;
  text-align: center;
  color: #f1f1f1;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skill  {
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(228, 228, 228);
}

.skill i {
  color: seagreen;
}

.name p {
  font-size: 100px;
}

.projects {
  background-color: rgb(44, 42, 42);
  margin-top: 3rem;
}

.project {
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

.project img {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #111;
  color: white;
}

.project h3 {
  font-size: 25px;
  color: white;
}

.project a {
  text-decoration: none;
  color: #111;
  font-weight: 50px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
    background-size: cover;
  }
}



.footer:hover {
  color: black;
  background-color: rgb(0, 204, 255);
  transition: 2s;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: aqua;
  text-align: center;
  text-decoration: dimgray;
  padding: 2rem;
  margin-top: 3rem;
  width: 100%;
  cursor: pointer;
}


.parallax {
  /* The image used */
  background-image: url('./images/900x520_piano-min.webp');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h1 {
  color: red;
  display: grid;
  text-align: right;
  padding-right: 45rem;
}

.about p {
  display: grid;
  padding-left: 30rem;
}

.about img {
  padding-right: 900px;
  width: 100%;
  border-radius: 0px;
}

#header {
  font-family: "Kalam", sans-serif;
  padding-top: 10rem;
  padding: 50px 10px;
  color: black;
  text-align: center;
  font-size: 30px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 80%;
  padding-bottom: 2rem;
  transition: 0.2s;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}

.pool{
  display: grid;
  padding-top: 20px;
  padding-right: 50px;
}



.colud {
  width: 100%;
  height: 80vh;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.parallax {
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about img {
  margin-right: 100px;
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.contact img {
  width: 100%;
  height: 80vh;
  padding-top: 2rem;
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 20px;
}

.contact h1 {
  font-family: "Permanent Marker", sans-serif;
  text-align: center;
}

.contact h4 {
  padding-left: 2rem;
  text-align: center;
  padding: 1rem;
}

.contactme {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.icons {
    text-align: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.836);
    width: 28%;
    height: 60vh;
    padding-bottom: 2rem;
}

.icons i {
  margin-right: 1rem;
    color: white;
    text-decoration: dimgrey;
    border-radius: 100px;
}

.map-locotion {
  display: grid;
  padding-left: 20rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
 padding-right: 20px;
}
.map-locotion h3{
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: "Kalam", sans-serif;
  font-size: 40px;
  color: seagreen;
  text-align: center;
}

.link:hover {
  color: black;
  text-decoration: black;
  background-color: rgb(0, 204, 255);
}

.link {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.links {
  text-align: center;
  justify-content: center;
  padding: 2rem;
}

.links li {
  margin-right: 1rem;
    color: seagreen;
    text-decoration: dimgrey;
    border-radius: 100px;
}

.black-pool {
  width: 100%;
}

@media screen and (max-width: 468px) {
  .sidenav {
    width: 5,000,000px;
  }

  .right img {
    display: grid;
    width: 10vh;
    height: 10vh;
  }
}























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































